@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Playfair+Display:400,700');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
// @include font-face(muli, "/assets/fonts/muli/Muli-Regular", 300, normal, ttf);
// @include font-face(muli, "/assets/fonts/muli/Muli-Bold", 600, bold, ttf);
// @include font-face(woodford, "/assets/fonts/woodford/woodfordbourne-thin", 100, thin, otf);
// @include font-face(woodford, "/assets/fonts/woodford/woodfordbourne-thinitalic", 100, italic, otf);

//========= global styles ==========
html, body {
	font: {
    size: 16px;
    family: 'Montserrat', sans-serif;
	}
	color: $dark;
  overflow-x: hidden;
}
h1,h2,h3,h4,h5,
.h1,.h2,.h3,.h4,.h5{
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  color: #000;
}
a {
	outline: none;
	cursor: pointer;
}
table{
	height: 100%;
	width: 100%;
}
.gray-bg{
	background: lighten($gray, 12%);
}
.error-msg{
  color: $danger;
}
.text-lg{
	font-size: 1.2rem;
}
.decoration-none{
	text-decoration: none;
}
.bottom-tabs{
	padding-bottom: 4.5rem!important;
	position: relative;
}
label {
	color: $dark;
}
.form-control::placeholder{
	color: $gray;
}
.ddd {
	@include ddd;
}
// images
.btn-delete {
	position: absolute;
	bottom: 1rem;
	right: 15%;
	opacity: 0.5;
	border-radius: 0.3rem;
	@include transition;

	&:hover {
		opacity: 1;
	}
}