@include font-face(muli, "/assets/fonts/muli/Muli-Regular", 300, normal, ttf);
@include font-face(muli, "/assets/fonts/muli/Muli-Bold", 600, bold, ttf);
// @include font-face(woodford, "/assets/fonts/woodford/woodfordbourne-thin", 100, thin, otf);
// @include font-face(woodford, "/assets/fonts/woodford/woodfordbourne-thinitalic", 100, italic, otf);

//========= global styles ==========
html, body {
	font: {
    size: 16px;
    family: "muli";
	}
  overflow-x: hidden;
}
h1,h2,h3,h4,h5,
.h1,.h2,.h3,.h4,.h5,{
	// font-family: "playfair";
	font-weight: bold;
}
app-header {
	max-height: $h-header;
	display: block;

	/* @media (max-width: 767px) {
		max-height: 5rem;
	} */
}
a {
	outline: none;
	cursor: pointer;
}
table{
	height: 100%;
	width: 100%;
}
.gray-bg{
	background: $gray*1.15;
}
.main-content {
	min-height: calc(100vh - #{$h-header} - #{$h-footer});
	@media (min-width: 768px) { 
		min-height: calc(100vh - #{$h-header} - #{$h-footer-br});
	}
}
.error-msg{
  color: $danger;
}
.text-lg{
	font-size: 1.2rem;
}
.decoration-none{
	text-decoration: none;
}
.bottom-tabs{
	padding-bottom: 4.5rem!important;
	position: relative;
}
label {
	color: $dark;
}
.form-control::placeholder{
	color: $gray;
}
.ddd {
	@include ddd;
}
// images
.btn-delete {
	position: absolute;
	bottom: 1rem;
	right: 15%;
	opacity: 0.5;
	border-radius: 0.3rem;
	@include transition;

	&:hover {
		opacity: 1;
	}
}