header.style-1 {
  border-top: 0.4rem solid $primary;
  
  .navbar-light .navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    color: $dark;

    @media (max-width: 767px) {
      font-size: 2.5rem;
    }
  }

  .subnav-item {
    border-bottom: 1px solid lighten($gray, 10%);
  }

  &.style-default{
    .main-logo{
      $size: 8rem;
      height: $size;
      width: $size;
      border-radius: 100%;
      background-color: $gray;
      display: inline-block;
    }

    .nav-item{
      margin: 0 0.7rem;

      .nav-link{
        color: $dark;
        font-weight: bold;
        font-size: 1.2rem;
        padding: 0.1rem 0.2rem;

        &.active {
          border-bottom: 2px solid $primary;
        }
      }
    }
  }
  
  // &.style-1 {
    .nav-item{
      margin: 0 0.7rem;
  
      .nav-link{
        color: $dark;
        font-size: 1rem;
        padding: 0.1rem 0.2rem;
  
        &.active {
          color: $primary;
        }
        &:hover {
          color: $primary;
        }
      }
    }
  // }

  .mobile-nav-handle{
    font-size: 1.5rem;
    padding: 0 0.5rem;
    z-index: 101;
  }

  @media (max-width: 767px) {
    .nav-mobile {
      @include transition(all, 0.4s);
      display: block;
      opacity: 0;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(255,255,255,0.95);
      width: 100%;
      height: 0;
      z-index: 100;
      padding-top: 5rem;
      overflow: hidden;

      &.active {
        // display: block;
        height: 100%;
        opacity: 1;
      }
      .nav-item{
        margin: 0 1rem;
    
        .nav-link{
          color: $dark;
          font-size: 1.3rem;
          padding: 0.5rem;
    
          &.active {
            color: $primary;
          }
        }
      }
    }
    .subnav-item {
      border-bottom: none;
      margin-left: 1rem;
      a {
        color: lighten($color: #333, $amount: 30%);
      }
    }
  }
  .btn-icon{
    background-color: transparent;
    display: inline-flex;
    width: 2rem;
    height: 2rem;
    color: darken($color: $primary, $amount: 20);
    &:hover {
      color: $primary;
      background-color: transparent;
    }
  }
  .btn-follow {
    display: flex;
    svg {
      font-size: 1.3rem;
    }
  }
  .mobile-link{
    position: relative;
    z-index: 10000;
  }
}

.subnav-item {
  a {
    color: $dark;

    &:hover {
      text-decoration: none;
      color: $primary;
    }
  }
}

header.project {
  position: sticky;
  background-color: $primary;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.05),inset 0 -1px 0 rgba(0,0,0,.1);
  top: 0;
  z-index: 1071;

  .navbar-brand {
    color: #fff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.1rem;
    &:hover {
      color: $light;
    }
  }
  .nav-item{
    margin: 0 0.7rem;

    .nav-link{
      color: #ccc;
      font-size: 1rem;
      padding: 0.1rem 0.2rem;

      &.active {
        color: #fff;
      }
      &:hover {
        color: #fff;
      }
    }
  }

  .btn-follow {
    padding: 0;

    &:hover {
      color: $light;
      background-color: transparent;
      border-color: transparent;
    }
  }
}
footer.project {
  font-size: 0.875rem;
  font-weight: 600;

  a {
    color: #495057;
    &:hover {
      color: $primary;
    }
  }
}

header.style-default {
  .banner {
    background-color: $light;
    position: absolute;
    width: 100%;
    height: 14.5rem;
  }
  .main-logo{
    $size: 12rem;
    height: $size;
    width: $size;
    border-radius: 100%;
    background-color: $gray;
    display: inline-block;
    overflow: hidden;
  }

  .nav-item{
    margin: 0 0.7rem;

    .nav-link{
      color: $dark;
      font-weight: bold;
      font-size: 1.2rem;
      padding: 0.1rem 0.2rem;

      &.active {
        border-bottom: 2px solid $primary;
      }
    }
  }
}