<footer>
  <div class="container-fluid pt-5">
    <div class="row el-gutters footer-insta-port" id="footer-insta-port">
      <div class="col-3 col-md">
        <a href="##__insta_url__##" target="_blank" class="insta-img">
          <div class="img-11" style="background-image:url('##__image_url__##')"></div>
          <div class="overlay d-none d-sm-flex gtm-insta" data-title="##__insta_url__##">
            <p><i class="fa fa-comment mx-1"></i>##__insta_comment__##<i class="fa fa-heart mx-1 ml-2"></i>##__insta_like__##</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="container text-center py-4">
    <div class="row">
      <div class="col">
        {%- if site.footer.links -%}
          {%- for link in site.footer.links -%}
            {%- if link.label -%}
              <a class="btn btn-primary btn-icon" href="{{ link.url | default: '#' }}"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i></a>
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="mt-4 text-info">&copy; {{ site.time | date: '%Y' }} {{ site.copyright | default: site.title }}</p>
      </div>
    </div>
  </div>
</footer>