// =============================================================================
// paths
// =============================================================================
$p-img			: unquote("/assets/img/");

// =============================================================================
// colors
// =============================================================================
$light-teal	:	rgb(80,215,150);
$teal				:	rgb(0,180,140);
$blue				:	rgb(0,80,220);
$red				:	#f45549; //rgb(240,90,65);
$yellow			:	rgb(255,220,60);

$gray				: #ccc;
$primary		: $blue;
$secondary	: $teal;
$success		: $teal/1.2;
$info				: $gray/1.25;
$warning		: $yellow;
$danger			: $red;
$text-muted	: $gray;
$dark				: #000;

// =============================================================================
// height-width
// =============================================================================
$h-header			: 6.5rem;
$h-footer			: 24.5rem;
$h-footer-br	: 19rem;
$w-mainLogo		: 7.2rem;

// =============================================================================
// font-family
// =============================================================================
$f-normal			: sourcesans;
$f-heading		: colaborate;

// =============================================================================
// easing
// =============================================================================
$e-easeOutBack	: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$e-easeOutCubic	: cubic-bezier(0.215, 0.61, 0.355, 1);
